language: python
python:
- '3.8'
- '3.7'
- '3.6'
os: linux
dist: bionic
before_install:
- sudo apt-get install -y gfortran
- pip uninstall -y numpy

env:
  global:
  - secure: tRZb1ut4FotbmpUDXWZxN6ehTvF2azB3s7GIevyxTCbfk7iKNk46LQqixU3nalLL3/0KGKyJvwwEnf69oXxn9As9iwkJ/8rqoMlQrTCVijuE9CslVTa8bCxu2EIo6EuDoN9eV/ENefttB5Ra4EldHb1t87Wh2s0nvWsubJVqo8mCQGzu6Z3TTrC3cIyR8IC06jMX/B2upNcS/wziDvYROTUGoe3uf+AvmQC1rHXDL4y1AqTzD4eH4RoLQjc0/4oN4+3ueks8KLOuW+NBi5fyCzXcisn6rhzMT40hz4lc8w/2EqCUOcKFeP9v/cJsyqCGtHiowijN3F2f7ups8P9M0N1Hp7uJGynq+srRJQs7DbeTfWhLbld2J8YwUZJDBBj8xhH4r1+rGQZISgOv4BV+Hufq62S2mvBMAR/A5M4XfW/z1Lqv4joB8C+fQ+Ri9dlmQUBPKkBaHJyXt50/7vumzLOXXoQqARkKoXwkJD8A/P/8+X8PJrLcX8U8gmBcMqnc7Xn5098sqhlss4lQcNanvVsiH2lSJIlSXSwzsDoH3YJ7O+0NihljyJb57Cx4c6JZwa/G33haVz9paIIJxFUi9u3EVeAFMGJRw3K7+5WD+t2L3DY2AknnZ2SJYCyQKZXHsL6oZ3jG/ENbfEV7KuQUlG3l42aUcMsSZysA5/7U0FM=
  - secure: TZrM8ONuxv1XiAQFitBJL8G5TJ5ZjSyU1yTewtkifamLC24M56RaXExQZHylNujBWgo3zuaVzhZ99QR0bEk4eGl/fSJe6+a0pkaWWeE/3wuuln+dyMU81US4rmVmDdAQoPE2yXzPT3WaGcR7cii9ZQ96Zac0GayZZS7nU9Us8xXJ5/Efob2aPF8Xf+aO39Nqcp/+QG9C09z/kHnnzq7zf3wZtYihlhecSlK7EvvJK+HgudJU+qIv7r19x1yh3dCs0iMuDl2d3Y5PV4jM0YMlDg06BtWqST59W7wrd60ZJLmjj6vmLvJv1Zb2gPaPZIv4gfT5SF4cloWDeZ6tJ3kXmaRd2hCqjnjjQsWONB6wuQVexGbdMUVKAtdX+Iej5FcKLYmVtF1txmeh5M//BYcHxGxbYaL8apN+oqnMICgclHh2NYW8jDq2Y+bSUrRC0IYHz8ncYNWKjeu16WODx81UyYNwEL9bPFOjjirBGBbHSM7r5a4LvkYM7mvVftXS8dcAERz8Zkbq4i//b8CG2QTh7DaGtRPIpD1nrCPV5Ev8GFDLAmkKaCQ0MWjHKgCsPnly9M5NL23QaowVyjHKx+QlXP2SxcVjFIbL3Tz6DqJl+cvliGl1ELTz8mMqTL46mo/bkKj1EEuggtDg3jowDUubp8BHt8Bh9V/PL2Gnx0R/Rxc=

install: pip install -r requirements.txt coverage coveralls

script: coverage run --include=tom_scimma/scimma.py tom_scimma/tests/run_tests.py

after_success: coveralls

stages:
- Style Checks
- test
- Canary test

jobs:
  include:
  - stage: Style Checks
    if: env(TRAVIS_EVENT_TYPE) != "cron"
    install: pip install -I flake8
    script: flake8 tom_* --max-line-length=120
  - stage: test
    if: env(TRAVIS_EVENT_TYPE) != "cron"
    os: osx
    language: shell
    before_install: pip3 install -U pip
  - stage: Canary Test
    python: '3.8'
    if: env(TRAVIS_EVENT_TYPE) = "cron"
    script: python tom_scimma/tests/run_canary_tests.py
